<app-navbar></app-navbar> 

<header class="page-header bg-img size-lg" style="background-image: url(assets/img/search-banner.jpg);padding-top:400px; ">
      <div class="container">
        <div class="header-detail">
            <nav>
                <ul class="pager">
                  <li class="previous"><a routerLink="/searchProfile"><i class="ti-arrow-left"></i> Prev</a></li>
                </ul>
              </nav>
          <img *ngIf="type=='Simple'"  class="logo" src="http://localhost/upload/upload/{{account.photo}}" alt="">
          <img *ngIf="type=='Company'" class="logo" src="http://localhost/upload/upload/{{account.logo}}" alt="">
          <div class="hgroup">
           
            <h1 *ngIf="type=='Company'">{{account.Name}}</h1>

            <h1 *ngIf="type=='Simple'">{{account.firstname+" "+account.lastname}}</h1>
            
          </div>
          <hr>
          <p class="lead">{{account.about}}</p>

          <ul class="details cols-3">
            <li>
              <i class="fa fa-map-marker"></i>
              <span>{{address.Gouvernorat+", "+address.Municipalite+", "+address.Rue}}</span>
            </li>
            
            <li>
              <i class="fa fa-phone"></i>
              <span>{{"+216"+" "+account.phone}}</span>
            </li>

             <li>
              <i class="fa fa-envelope"></i>
              <a href="#">{{account.email}}</a>
            </li>

            <li *ngIf="type=='Simple'">
              <i class="fa fa-venus-mars"></i>
              <a href="#">{{account.gender}}</a>
            </li>

            <li>
              <i class="fa fa-users"></i>
              <span>{{"Member since "+account.dateCreation}}</span>
            </li>

          </ul>

          <div class="button-group" >
            <ul class="social-icons" *ngIf="type=='Company'">
              <li><a class="facebook" href="{{account.facebook}}"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="{{account.twitter}}"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="{{account.website}}"><i class="fa fa-globe"></i></a></li>
              
            </ul>

          </div>

        </div>
      </div>
    </header>

     <section id="open-positions" class="bg-alt">
        <div class="container">
          <header class="section-header">
            <span>vacancies</span>
            <h2>Your Jobs History</h2>
          </header>
          
          <div class="row">

            <!-- Job item -->
            <div *ngFor="let cv of cvList | paginate:{ itemsPerPage:4 , currentPage: p}" class="col-xs-12">
              <div class="item-block" href="job-detail.html">
                <header>
                  <img src="http://localhost/upload/upload/{{account.photo}}" alt="">
                  <div class="hgroup">
                    <h4>Senior front-end developer</h4>
                    <h5>Google <span class="label label-success">Full-time</span></h5>
                  </div>
                  <time  class="note" [ngClass]="{red : cv.note<8,green :cv.note<15 && cv.note>=8}">{{cv.note}}</time>
                </header>

                <div class="item-body">
                  <p>{{cv.jobDescription}}</p>
                </div>

                <footer>
                  <ul class="details cols-3">
                    <li>
                      <i class="fa fa-map-marker"></i>
                      <span>Menlo Park, CA</span>
                    </li>

                    <li>
                      <i class="fa fa-money"></i>
                      <span>$90,000 - $110,000 / year</span>
                    </li>

                    <li>
                      <i class="fa fa-certificate"></i>
                      <span>Master or Bachelor</span>
                    </li>
                  </ul>
                </footer>
              </div>
            </div>
            <pagination-controls (pageChange)="p =$event"></pagination-controls>
              