<app-navbar></app-navbar> 
<header class="page-header bg-img size-lg" style="background-image: url(assets/img/search-banner.jpg);padding-top:400px; ">
      <div class="container">
        <div class="header-detail">
          <img *ngIf="type=='Simple'"  class="logo" src="{{account.photo}}" alt="">            
          <img *ngIf="type=='Simple'"  class="logo" src="http://localhost/upload/upload/{{account.photo}}" alt="">
          <img *ngIf="type=='Company'" class="logo" src="http://localhost/upload/upload/{{account.Logo}}" alt="">
          <div class="hgroup">
           <a class="btn btn-float btn-primary" routerLink="/editProfile" ><i class="fa fa-pencil"></i></a>
           <a class="btn btn-float btn-primary" routerLink="/searchProfile" ><i class="fa fa-search"></i></a>
           
            <h1 *ngIf="type=='Company'">{{account.Name}}</h1>

            <h1 *ngIf="type=='Simple'">{{account.firstname+" "+account.lastname}}</h1>
          </div>
          <hr>
          <p class="lead">{{account.About}}</p>

          <ul class="details cols-3">
            <li>
              <i class="fa fa-map-marker"></i>
              <span>{{address.Gouvernorat+", "+address.Municipalite+", "+address.Rue}}</span>
            </li>
            
            <li>
              <i class="fa fa-phone"></i>
              <span>{{"+216"+" "+account.Phone}}</span>
            </li>

             <li>
              <i class="fa fa-envelope"></i>
              <a href="#">{{account.Email}}</a>
            </li>

            <li *ngIf="type=='Simple'">
              <i class="fa fa-venus-mars"></i>
              <a href="#">{{account.gender}}</a>
            </li>

            <li>
              <i class="fa fa-users"></i>
              <span>{{"Member since "+account.DateCreation}}</span>
            </li>

          </ul>

          <div class="button-group" >
            <ul class="social-icons" *ngIf="type=='Company'">
              <li><a class="facebook" href="{{account.Facebook}}"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="{{account.Twitter}}"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="{{account.Website}}"><i class="fa fa-globe"></i></a></li>
              
            </ul>

          </div>

        </div>
      </div>
    </header>

     <section id="open-positions" class="bg-alt">
        <div class="container">
          <header class="section-header">
            <h2>Your Jobs History</h2>
          </header>
          
          <div class="row">

            <!-- Job item -->
            <div *ngFor="let cv of cvList | paginate:{ itemsPerPage:4 , currentPage: p}" class="col-xs-12">
              <div class="item-block" href="job-detail.html">
                <header>
                  <img src="http://localhost/upload/upload/{{account.photo}}" alt="">
                  <div class="hgroup">
                    
                    <h5>22/11/2017</h5>
                  </div>
                  <time style="font-size: 20px">{{cv.note}}</time>
                </header>

                <div class="item-body">
                  <p>{{cv.jobDescription}}</p>
                </div>

              </div>
            </div>
            <pagination-controls (pageChange)="p =$event"></pagination-controls>
              