.note{   
    border-radius: 100px;
    background: #FFDF00	;
    padding: 20px; 
    width: 60px;
    height: 60px;
    color: white;
    font-size: 30px;
    padding-top:2px;
    padding-right: 25px; 
}
.red{
    background: #ff1a1a
;
}

.green{
    background: #00ff00;
}