 
 <div class="login-page" >
    <main style="margin-top: 0px;padding-top: 50px;">

      <div class="login-block" >
        <a routerLink="/nav"><img src="assets/img/logo.png" ></a>
        <h1>Log into your account</h1>

        <form (ngSubmit)="signup(login.value,pwd.value)">

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="ti-email"></i></span>
              <input type="text" class="form-control" placeholder="Login"  name="login"    ngModel #login="ngModel" >
            </div>
          </div>
          
          <hr class="hr-xs">

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="ti-unlock"></i></span>
              <input type="password" class="form-control" placeholder="Password" name="pwd"    ngModel #pwd="ngModel" >
            </div>
          </div>
          <div *ngIf="loginStatus=='error'" class="error">
              <i class="fa fa-times-circle"></i>
              <p>Invalid Login or Password</p>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Login</button>

          <div class="login-footer">
            <h6>Or login with</h6>
            <ul class="social-icons">
              <li>          
                <a (click)="facebookSignup()"><i class="fa fa-facebook"></i></a>
              </li>
            
            </ul>
          </div>

        </form>
      </div>

      <div class="login-links" >
      
        <a class="pull-right" routerLink="/register">Register an account</a>
      </div>

    </main>

 </div> 
