 <app-navbar></app-navbar>
 <form #f="ngForm" (ngSubmit)="register(f.value)">

      <!-- Page header -->
      <header class="page-header" style="padding-top: 100px;background-image: url(assets/img/bg-facts.jpg);">
        <div class="container page-name">
          <h1 class="text-center">Register Now For Free</h1>
          <div style="display: flex;justify-content: space-around">
           <a class="btn btn-sm btn-primary" (click)="type='company'" >Company Account</a>
           <a class="btn btn-sm btn-primary" (click)="type='simple'" >Simple Account</a>
           
          </div>
          </div>

        <div class="container">
       
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                
                <div class="col-xs-12 col-sm-4 col-lg-2">
                  <div class="form-group">
                    <input style="width: 300px;" type="file"  ngFileSelect  [options]="options" (onUpload)="handleUpload($event)" (beforeUpload)="beforeUpload($event)"   >
                   <img  style="margin-top: 20px;" src="http://localhost/upload/upload/{{image}}">
                  </div>
                </div>

                <div class="col-xs-12 col-sm-8 col-lg-10">
                  
                  <div  *ngIf="type=='company'" class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Comapny name" name="name"    ngModel #name="ngModel" required minlength="6" maxlength="25">
                    <div class="alert alert-danger" *ngIf="!name.valid && name.touched">
                        <div *ngIf="name.errors.required">Name Is Required</div> 
                         <div *ngIf="name.errors.minlength">Name Min Length is 6 Characters </div>
                    </div> 
                  </div>
                  <div *ngIf="type=='simple'" class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="First name" name="firstname"    ngModel #firstname="ngModel" required minlength="3" maxlength="25">
                    <div class="alert alert-danger" *ngIf="!firstname.valid && firstname.touched">
                        <div *ngIf="firstname.errors.required">First Name Is Required</div> 
                         <div *ngIf="firstname.errors.minlength">First Name Min Length is 3 Characters </div>
                    </div> 
                  </div>
                  <div  *ngIf="type=='simple'" class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Last name" name="lastname"    ngModel #lastname="ngModel" required minlength="3" maxlength="25">
                    <div class="alert alert-danger" *ngIf="!lastname.valid && lastname.touched">
                        <div *ngIf="lastname.errors.required">Last Name Is Required</div> 
                         <div *ngIf="lastname.errors.minlength">Last Name Min Length is 3 Characters </div>
                    </div>
                  </div>
                  <div  class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Login" name="login"    ngModel #login="ngModel"  required minlength="6" maxlength="25">
                    <div class="alert alert-danger" *ngIf="!login.valid && login.touched">
                        <div *ngIf="login.errors.required">Login Is Required</div> 
                         <div *ngIf="login.errors.minlength">Login Min Length is 6 Characters </div>
                    </div> 
                  </div>
                  <div class="form-group" style="margin-bottom: 100px;">
                    <h6>Password</h6>
                    <div class="form-group col-xs-12 col-sm-6 col-md-5">
                      <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                        <input type="password"  class="form-control" placeholder="Password"  ngModel  validateEqualTo="repeatPassword"  name="password"  required minlength="6" maxlength="25" #passwordControl="ngModel">
                      </div>
                    </div>  
                    <div  class="form-group col-xs-12 col-sm-6 col-md-5">
                      <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
                        <input type="password" class="form-control" placeholder="Confirm Password"name="repeatPassword" ngModel required>
                      </div>
                    </div>
                  </div>
                  <div class="alert alert-danger" *ngIf="!passwordControl.valid && passwordControl.touched">
                     <div *ngIf="passwordControl.errors.required">*Password Is Required</div> 
                     <div *ngIf="passwordControl.errors.minlength">*Password Min Length is 6 Characters </div>
                     <div *ngIf="passwordControl.errors?.validateEqual">*Passwords don't match</div>
                 </div> 
                  
                  <div  *ngIf="type=='simple'" class="form-group">
                    <h6>Gender</h6>
                    <div class="radio">
                      <input type="radio" name="gender" id="radio1" value="Homme" ngModel #gender="ngModel">
                      <label for="radio1">Homme</label>
                    </div>

                    <div class="radio">
                      <input type="radio" name="gender" id="radio2" value="Femme" ngModel #gender="ngModel" >
                      <label for="radio2">Femme</label>
                    </div>
                  </div> 
                
                  <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Short description" name="about"    ngModel #about="ngModel" required minlength="10"></textarea>
                    <div class="alert alert-danger" *ngIf="!about.valid && about.touched">
                      <div *ngIf="about.errors.required">A short description Is Required</div> 
                       <div *ngIf="about.errors.minlength">Description Min Length is 10 Characters </div>
                  </div> 
                  </div>
                </div>

              </div>
            </div>

            <div class="col-xs-12">
              <div class="row">

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" class="form-control" placeholder="Governorat" name="Governorat"    ngModel #Governorat="ngModel" required minlength="4" maxlength="20">
                   
                  </div>
                  <div class="alert alert-danger" *ngIf="!Governorat.valid && Governorat.touched">
                    <div *ngIf="Governorat.errors.required">Governorat Is Required</div> 
                     <div *ngIf="Governorat.errors.minlength">Governorat Min Length is 4 Characters </div>
                </div> 
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" class="form-control" placeholder="Municipalité" name="Municipalite"    ngModel #Municipalite="ngModel"  required minlength="4" maxlength="20">
                   
                  </div>
                  <div class="alert alert-danger" *ngIf="!Municipalite.valid && Municipalite.touched">
                    <div *ngIf="Municipalite.errors.required">Municipalite Is Required</div> 
                     <div *ngIf="Municipalite.errors.minlength">Municipalite Min Length is 4 Characters </div>
                </div> 
                </div>
                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" class="form-control" placeholder="Road" name="Rue"    ngModel #Rue="ngModel" required minlength="10" maxlength="20">
                   
                  </div>
                  <div class="alert alert-danger" *ngIf="!Rue.valid && Rue.touched">
                    <div *ngIf="Rue.errors.required">Road Is Required</div> 
                     <div *ngIf="Rue.errors.minlength">Road Min Length is 10 Characters </div>
                </div> 
                </div>

                <div *ngIf="type=='company'" class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                    <input type="text" class="form-control" placeholder="Facebook page link" name="facebook"    ngModel #facebook="ngModel">
                   
                  </div>
                </div>

                <div *ngIf="type=='company'" class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                    <input type="text" class="form-control" placeholder="Twitter link" name="twitter"    ngModel #twitter="ngModel">
                    
                  </div>
                </div>

               

                <div *ngIf="type=='company'" class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                    <input type="text" class="form-control" placeholder="Website address" name="website"    ngModel #website="ngModel">
                   
                  </div>
                </div>


                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <input type="number" class="form-control" placeholder="Phone number" name="phone"    ngModel #phone="ngModel"  min="1" max="5" required >
                    
                  </div>
                  <div class="alert alert-danger" *ngIf="!phone.valid && phone.touched">
                    <div *ngIf="phone.errors.required">Phone number Is Required</div> 
                    <div *ngIf="phone.errors.max">Phone number max</div> 
                    <div *ngIf="phone.errors.min">Phone number min</div> 
                </div> 
                </div>

                <div class="form-group col-xs-12 col-sm-6 col-md-4">
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" class="form-control" placeholder="Email address" name="email"    ngModel #email="ngModel" required autocomplete="on">
                  </div>
                  <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
                    <div *ngIf="email.errors.required">email Is Required</div> 
                </div> 
                </div>

              </div>
            </div>


          </div>

          
          <button type="submit" class="btn btn-block btn-primary" [disabled]="!f.valid" >Submit </button>
        </div>
      </header>
      <!-- END Page header -->
 </form>